<ng-container *ngIf="creditCardDetails">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ creditCardDetails.name }}</mat-card-title>
        <mat-card-subtitle>{{ creditCardDetails.bankName }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div><strong>Credit Card ID: </strong>{{ creditCardDetails.id }}</div>
      <div>
        <strong>Description: </strong>{{ creditCardDetails.description }}
      </div>
      <div><strong>Max Credit: </strong>{{ creditCardDetails.maxCredit }}</div>
      <div>
        <strong>Interest Rate: </strong>{{ creditCardDetails.interestRate }}
      </div>
      <div>
        <strong>Recommended Score: </strong
        >{{ creditCardDetails.recommendedScore }}
      </div>
      <div><strong>Active: </strong>{{ creditCardDetails.active ? 'Yes' : 'No' }}</div>
    </mat-card-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
  </mat-card>
</ng-container>
