.count-card {
  width: 24%;
  margin: 10px;
  padding: 10px;
}
.bg-success {
  background-color: lightgreen;
}
.bg-warning {
  background-color: lightcoral;
}
.bg-info {
  background-color: lightblue;
}
.bg-primary {
  background-color: lightpink;
}

.mat-card {
  margin: 20px;
  box-shadow: 20px;
}

.mat-content{
  font-size: larger;
  font-weight: 500;
}

.mat-cards {
  margin: 10px;
}
