.count-card {
  width: 24%;
  margin: 10px;
  padding: 10px;
}
.bg-success {
  background-color: lightgreen;
}
.bg-warning {
  background-color: lightcoral;
}
.bg-info {
  background-color: lightblue;
}
.bg-primary {
  background-color: lightpink;
}

.mat-card {
  margin: 20px;
  box-shadow: 20px;
}

.mat-content {
  font-size: larger;
  font-weight: 500;
}

.mat-cards {
  margin: 10px;
}

.mat-column-id {
  width: 2%;
  max-width: 2%;
  min-width: 2%;
}
.mat-column-name,
.mat-column-bankName {
  width: 13%;
  max-width: 13%;
  min-width: 13%;
}
.mat-column-description {
  width: 23%;
  max-width: 23%;
  min-width: 23%;
}

.mat-column-maxCredit,
.mat-column-interestRate,
.mat-column-active {
  width: 8%;
  max-width: 8%;
  min-width: 8%;
}

.mat-column-recommendedScore,.mat-column-actions {
  width: 12%;
  max-width: 12%;
  min-width: 12%;
}

