<mat-nav-list class="nav-list">
  <mat-list-item
    class="list-item"
    [routerLink]="['/creditcards']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a class="menu-item"><mat-icon class="menu-icon">dashboard</mat-icon>Dashboard</a>
  </mat-list-item>

  <mat-list-item
    class="list-item"
    [routerLink]="['/creditcards/add']"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <a class="menu-item"><mat-icon class="menu-icon">add_box</mat-icon>Add New Credit Card</a>
  </mat-list-item>
</mat-nav-list>
