.menu-item {
  color: #333333;
  text-decoration: none;
}

.menu-icon {
  margin-right: 8px;
  vertical-align: middle;
}

.list-item:not(.active-link):hover {
  background-color: #b8b8b8;
  border-radius: 10px;
}

.list-item.active-link {
  background-color: #5666c0;
  border-radius: 10px;
  width: 240px;
  margin: auto;
}

.list-item.active-link .menu-item {
  color: #ffffff;
}
